/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* COMMON */
a{
    text-decoration: none;
    color: #ffffff;
}
i{
    user-select: none;
}
body{
    background-color: #ffc444;
}
#viewport{
    width: 100%;
    height: 100vh;
}
.perspective{
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1500px;
}
.container{
    position: relative;
    left: 0;
    transform: translateZ(0) translateX(0) rotate(0);
    transition: all 0.5s ease-out;
}
.wrapper{
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
button{
    font-family: 'Montserrat', sans-serif;
}
.tomato{
    color: rgb(241, 82, 8);
}
.orange{
    color: #ffa500;
}
/* header start*/
.wrapper header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo p{
    margin-left: 10px;
    font-weight: bold;
}
header .nav_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
header .nav_button span,
header .nav_button::before,
header .nav_button::after{
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
}
header .nav_button::before{
    width: 23px;
    bottom: 5px;
}
header .nav_button::after{
    width: 23px;
    top: 5px;
}
header .more-btn{
    position: absolute;
    border: none;
    background: #ff7300;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 25px;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
}
header .more-btn.isActive{
    visibility: visible;
    opacity: 1;
}
/* header end*/

/* slide-nav start */
.slide-nav{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 99;
    font-family: 'Do Hyeon', sans-serif;
}
.slide-nav::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 2px;
    height: 70%;
    background-color: #555555;
    opacity: 0.35;
}
.slide-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 70%;
}
.slide-ul li{
    position: relative;
    top: -5px;
    left: 5px;
    color: #ffffff;
    cursor: pointer;
}
.slide-ul li::marker{
    content: "●";
    color: #ffffff;
    font-size: 5px;
}
.slide-ul li::before{
    position: absolute;
    left: 5px;
    top: 3px;
    color: #555555;
    font-size: 14px;
    transition: all 0.5s;
}
.slide-ul li:nth-child(1):before{
    content: "01";
}
.slide-ul li:nth-child(2):before{
    content: "02";
}
.slide-ul li:nth-child(3):before{
    content: "03";
}
.slide-ul li:nth-child(4):before{
    content: "04";
}
.slide-ul li:nth-child(5):before{
    content: "05";
}
.slide-ul li span{
    position: relative;
    opacity: 0;
    visibility: hidden;
    left: 10px;
    top: 3px;
    margin-left: 10px;
    transition: all 0.5s;
}
.slide-ul li.slide-active::marker{
    color: #ff7300;
    transition-delay: 0.3s;
}
.slide-ul li.slide-active::before{
    color: #ffffff;
    left: -43px;
    transition-delay: 0.3s;
}
.slide-ul li.slide-active span{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}
/* slide-nav end */

/* main-content start */
.main-content{
    position: relative;
    width: 100%;
    height: 100%;
}
.section{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.5s;
}
.section.section-active{
    opacity: 1;
    visibility: visible;
    top: 0;
    transition-delay: 0.3s;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    max-width: 75%;
    height: 100%;
    margin: 0 auto;
}
.intro--banner{
    position: relative;
    height: 475px;
    font-family: 'Do Hyeon', sans-serif;
}
.intro--banner h1{
    font-size: 68px;
    color: #ffffff;
    font-weight: bold;
    margin: 68px 0;
}
.intro--banner .intro--name{
    position: relative;
}
.intro--banner .intro--name em{
    opacity: 0;
    transition: all 0.5s;
}
.intro--banner .intro--name:hover em{
    opacity: 1;
}
.intro--banner .intro--name::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: #ff7300;
    opacity: 1;
}
.intro--banner button{
    position: relative;
    background-color: transparent;
    padding: 10px 13px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
}
.intro--banner button i{
    margin-left: 10px;
}
.intro--banner button span{
    position: absolute;
    top: 0;
    right: -3px;
    width: 80%;
    height: 100%;
    background-color: #ff7300;
    z-index: -1;
    transition: all 0.3s;
}
.intro--banner button:hover span{
    width: 100%;
}
.intro--banner img{
    position: absolute;
    bottom: 23px;
    right: -13px;
}
/* .intro--banner::before{
    position: absolute;
    left: 0;
    bottom: 23px;
    content: "";
    width: 100%;
    height: 3px;
    background: #555555;
    opacity: 0.5;
} */
.intro--option{
    display: flex;
    justify-content: space-around;
    font-family: 'Do Hyeon', sans-serif;
    background: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 5px solid #ff7300;
    box-sizing: border-box;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
}
.intro--option a{
    max-width: 250px;
    color: #555555;
    font-weight: bold;
    opacity: 0.5;
    transition: all 0.5s;
}
.intro--option a:hover{
    
    opacity: 1;
}
.intro--option a h3{
    margin: 5px 0 20px;
}
.intro--option a p{
    font-size: 14px;
    line-height: 20px;
}
/* main-content end */

/* out-nav start */
.out-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 55px;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s;
}
.out-li{
    position: relative;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
}
.out-li.is-select::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #ff7300;
    z-index: -1;
}
.out-nav.is-vis{
    visibility: visible;
    opacity: 1;
}
/* out-nav end */

/* effect-rotate-left start*/
.effect-rotate .container{
    left: 20%;
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    box-shadow: -15px 10px 50px #ff7300;   
    cursor: pointer;
}
/* effect-rotate-left end*/

/* work start */
.work{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Do Hyeon', sans-serif;
}
.work > h2{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
.work > div{
    position: relative;
    width: 100%;
}
.work-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 390px;
    margin: 0 auto;
}
.slider{
    text-align: center;
    width: 150px;
}
.slider.center{
    width: 300px;
    order: 2;
}
.slider.left{
    order: 1;
}
.slider.right{
    order: 3;
}
.slider.left .slider--title, 
.slider.right .slider--title{
    color: #858585;
    font-size: 14px;
}
.slider.left .slider--description, 
.slider.right .slider--description{
    display: none;
}
.slider .slider--title{
    margin: 15px 0 10px;
}
.slider.center .slider--title{
    margin: 25px 0 15px;
    font-size: 20px;
}
.slider--description{
    font-size: 16px;
    max-width: 260px;
    margin: 0 auto;
}
.slider a{
    display: block;
    font-weight: bold;
    color: #252525;
}
.slider a img{
    width: 100%;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    box-shadow: -3px -3px 15px rgba(41, 41, 41, 0.2),
    3px 3px 7px rgba(226, 198, 132, 0.2);
    padding: 20px;
    box-sizing: border-box;
    object-fit: cover;
}
.slider.center a img{
    height: 300px;
}
.work .btn{
    position: absolute;
    width: 53px;
    height: 53px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn.prev{
    left: 0;
    background: url(images/prev_btn.png) no-repeat;
}
.btn.next{
    right: 0;
    background: url(images/next_btn.png) no-repeat;
}
/* work end */

/* about start */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Do Hyeon', sans-serif;
}
.about--banner{
    position: relative;
    width: 100%;
    height: 420px;
}
.about--banner h2{
    position: relative;
    margin: 50px 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
}
.about--banner h2 > span{
    font-size: 60px;
}
.about--banner h2::before{
    content: "";
    position: absolute;
    top: 34%;
    right: 57%;
    width: 170px;
    height: 18px;
    border-radius: 18px;
    background: #ff8b1f;
    transform: rotate(160deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.about--banner h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 35%;
    width: 200px;
    height: 20px;
    border-radius: 18px;
    background: #ff8b1f;
    transform: rotate(10deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.about--banner a{
    display: inline-flex;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.about--banner a i{
    margin-left: 10px;
    transition: all 0.3s;
}
.about--banner a:hover i{
    margin-left: 20px;
}
.about--banner img{
    width: 100%;
    max-width: 450px;
    position: absolute;
    right: 0;
    bottom: 30px;
    z-index: -1;
}
.about--option{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.about--option a{
    position: relative;
    display: block;
    align-items: flex-end;
    width: 175px;
    height: 95px;
    border: 10px solid #ffc444;
    box-sizing: border-box;
    box-shadow: 
    -5px -5px 10px rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.about--option a:nth-child(1){
    background: url(images/velog_logo.png) no-repeat;
    background-size: cover;
}
.about--option a:nth-child(2){
    background: url(images/github_logo.png) no-repeat;
    background-size: cover;
}
.about--option a:nth-child(3){
    background: url(images/work_logo.png) no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #2a2a2a;
}
.about--option a h3{
    position: absolute;
    bottom: -18px;
    left: 18px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
}
.about--option a:hover h3{
    bottom: -30px;
}
/* about end */

/* contact start */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Do Hyeon', sans-serif;
    perspective: 1500px;
}
/* .contact::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background: url(images/contact-visual1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 930px;
    display: block;
    opacity: 0.3;
    z-index: -1;
} */
.contact h2{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 25px;
}
.contact--inner{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 900px;
    width: 100%;
    height: 100%;
    max-height: 450px;
    margin: 0 auto;
}
.contact--inner > img{
    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.contact--info{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 250px;
    flex-direction: column;
    text-align: center;
    padding: 45px;
    color: #555555;
    font-weight: bold;
    overflow: hidden;
    background: #ffc444;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.2);
}
.contact--info::before{
    content: "";
    position: absolute;
    right: -10%;
    top: -40%;
    width: 120%;
    height: 120%;
    background: #ff7300;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.8s;
}
.contact--info:hover::before{
    top: 0;
    height: 400%;
    transform: rotate(45deg);
}
.contact--info p{
    margin-bottom: 15px;
}
.contact--info div{
    position: relative;
    z-index: 2;
}
.contact--info div > a{
    display: block;
    margin-bottom: 15px;
    color: #555555;
}
.contact--info ul{
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
}
.contact--sns a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 105px;
    width: 100%;
    padding: 10px;
}
.contact--sns:nth-child(1) a{
    background: rgb(5, 55, 190);
}
.contact--sns:nth-child(2) a{
    background: rgb(116, 5, 190);
}
.contact--sns:nth-child(3) a{
    background: rgb(190, 23, 23);
}
/* contact end */

/* hire start */
.hire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Do Hyeon', sans-serif;
}
.hire h2{
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
#hire--inner{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
#hire--inner input[type="checkbox"]{
    display: none;
}
#hire--inner span{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#hire--inner span.hire--optionB{
    width: 504px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
#hire--inner span label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #ffffff;
    transition: all 0.3s;
    cursor: pointer;
}
#hire--inner input[type="checkbox"]:checked + label{
    background: #ff7300;
}
.hire--info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}
.hire--info > div{
    position: relative;
    width: 45%;
    height: 50px;
    color: #ffffff;
    font-size: 30px;
}
.hire--info > div input[type="text"]{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.hire--info > div label{
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}
.hire--info > div input[type="text"]:focus + label{
    font-size: 13px;
    bottom: 50px;
}
.hire--info > div input[type="text"].has-value + label{
    font-size: 13px;
    bottom: 50px;
}
input[type="submit"]{
    display: block;
    max-width: 400px;
    width: 100%;
    height: 52px;
    margin: 0 auto;
    background: #ff7300;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
/* hire end */

/* Responsive */
@media (max-width:1180px){
    .slide-nav{
        display: none;
    }

    .intro{
        max-width: 100%;
    }

    .contact--inner{
        justify-content: center;
    }
}
@media (max-width:900px){
    .intro--banner{
        height: 430px;
    }
    .intro--banner h1{
        font-size: 55px;
        margin: 68px 0 40px;
    }
    .intro--banner img{
        width: 430px;
    }

    .work-slider{
        height: auto;
    }
    .slider.center a img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width:840px){
    .intro--option{
        flex-direction: column;
    }
    .intro--option a{
        display: block;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .intro--option a:last-child{
        margin-bottom: 0;
    }
    .intro--option a h3{
        margin: 5px 0;
    }
    .intro--option a p br{
        display: none;
    }

    .about--banner h2{
        font-size: 45px;
    }
    .about--banner h2::before{
        opacity: 0;
    }
    .about--banner h2::after{
        opacity: 0;
    }
}
@media (max-width:756px){
    .intro--banner{
        height: 315px;
    }
    .intro--banner h1{
        margin: 30px 0;
    }
    .intro--banner img{
        width: 330px;
    }

    #hire--inner > div{
        display: flex;
    }
    #hire--inner span{
        display: block;
    }
    #hire--inner span.hire--optionB{
        width: 100%;
    }
    #hire--inner span label{
        margin: 0 auto 40px;
        width: 90%;
    }
}
@media (max-width:720px){
    .perspective{
        opacity: 1;
        transition: all 0.5s;
        overflow: initial;
    }
    #viewport,.intro,.work,.about,.contact,.hire,
    .main-content{
        height: initial;
    }
    .intro,.work,.about,.contact,.hire{
        margin-top: 30px;
    }

    .wrapper header{
        position: initial;
    }
    header .more-btn.isActive{
        visibility: hidden;
        opacity: 0;
    }

    .effect-rotate .container{
        transform: none;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }

    .out-nav{
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .intro--banner{
        height: initial;
        margin-bottom: 30px;
    }
    .intro--banner h1{
        margin: 0 0 30px;
    }
    .intro--banner img{
        display: none;
    }
    .intro--option a{
        opacity: 1;
    }

    .work-slider{
        justify-content: center;
    }
    .slider.left,.slider.right{
        display: none;
    }

    .about--banner{
        height: auto;
    }
    .about--banner h2{
        text-align: center;
        margin: 0 0 20px;
        font-size: max(35px,8vw);
    }
    .about--banner h2 > span{
        font-size: max(40px,9vw);
    }
    .about--banner img{
        display: none;
    }
    .about--banner > a{
        display: flex;
        justify-content: center;
    }
    .about--option{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .about--option a{
        width: 80%;
        margin-bottom: 25px;
    }
    .about--option a:nth-child(1){
        background-size: contain;
        background-position: center;
        background-color: #20c997;
    }
    .about--option a:nth-child(2){
        background-size: contain;
        background-position: center;
        background-color: #ffffff;
    }

    .contact h2{
        font-size: max(15px,5vw);
        margin-bottom: 30px;
    }
   .contact--info{
       perspective: none;
   }
   .contact--inner{
       height: auto;
   }
   .contact--inner > img{
       display: none;
   }

}