/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
/* COMMON */
a{
    text-decoration: none;
    color: #ffffff;
}
i{
    user-select: none;
}
body{
    background-color: #000000;
}
#viewport{
    width: 100%;
    height: 100vh;
    background: #000000;
}
.perspective{
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1500px;
}
.container{
    transform: translateZ(0) translateX(0) rotate(0);
    transition: all 0.3s ease-out;
}
.wrapper{
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

/* header start*/
.wrapper header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}
.wrapper header .logo{
    display: flex;
    align-items: center;
}
.wrapper header .logo p{
    margin-left: 10px;
    font-weight: bold;
}
.wrapper header .nav_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.wrapper header .nav_button span,
.wrapper header .nav_button::before,
.wrapper header .nav_button::after{
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
}
.wrapper header .nav_button::before{
    width: 23px;
    bottom: 5px;
}
.wrapper header .nav_button::after{
    width: 23px;
    top: 5px;
}
/* header end*/

/* slide-nav start */
.slide-nav{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 99;
}
.slide-nav::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 2px;
    height: 70%;
    background-color: #555555;
    opacity: 0.35;
}
.slide-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 70%;
}
.slide-ul li{
    position: relative;
    top: -5px;
    left: 6px;
    color: #ffffff;
    cursor: pointer;
}
.slide-ul li::marker{
    content: "â—";
    color: #ffffff;
    font-size: 5px;
}
.slide-ul li::before{
    position: absolute;
    left: 5px;
    top: 3px;
    color: #555555;
    font-size: 14px;
}
.slide-ul li:nth-child(1):before{
    content: "01";
}
.slide-ul li:nth-child(2):before{
    content: "02";
}
.slide-ul li:nth-child(3):before{
    content: "03";
}
.slide-ul li:nth-child(4):before{
    content: "04";
}
.slide-ul li:nth-child(5):before{
    content: "05";
}
.slide-ul li span{
    position: relative;
    opacity: 0;
    visibility: hidden;
    left: 10px;
    top: 3px;
    margin-left: 10px;
}
.slide-ul li.slide-active::marker{
    color: rgb(34, 34, 179);
}
.slide-ul li.slide-active::before{
    color: #ffffff;
    left: -43px;
}
.slide-ul li.slide-active span{
    opacity: 1;
    visibility: visible;
}
/* slide-nav end */

/* main-content start */
.main-content{
    position: relative;
    width: 100%;
    height: 100%;
}
.section{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.5s;
}
.section.section-active{
    opacity: 1;
    visibility: visible;
    top: 0;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    max-width: 75%;
    height: 100%;
    margin: 0 auto;
}
.intro--banner{
    position: relative;
    height: 475px;
}
.intro--banner h1{
    font-size: 68px;
    color: #ffffff;
    font-weight: bold;
    margin: 68px 0;
}
.intro--banner button{
    position: relative;
    background-color: transparent;
    padding: 10px 13px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.intro--banner button i{
    margin-left: 10px;
}
.intro--banner button span{
    position: absolute;
    top: 0;
    right: -3px;
    width: 80%;
    height: 100%;
    background-color: blue;
    z-index: -1;
    transition: all 0.3s;
}
.intro--banner button:hover span{
    width: 100%;
    background: blue;
}
.intro--banner img{
    position: absolute;
    bottom: 23px;
    right: -13px;
}
.intro--banner::before{
    position: absolute;
    left: 0;
    bottom: 23px;
    content: "";
    width: 100%;
    height: 3px;
    background: #555555;
    opacity: 0.5;
}
.intro--option{
    display: flex;
    justify-content: space-between;
}
.intro--option a{
    max-width: 250px;
    color: #555555;
    font-weight: bold;
    opacity: 0.5;
    transition: all 0.5s;
}
.intro--option a:hover{
    color: #ffffff;
    opacity: 1;
}
.intro--option a h3{
    margin: 20px 0;
}
.intro--option a p{
    font-size: 14px;
}
/* main-content end */

/* out-nav start */
.out-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 55px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}
.out-li{
    position: relative;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
}
.out-li.is-select::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 10px;
    background: blue;
    z-index: -1;
}
.out-nav.is-vis{
    visibility: visible;
}
/* out-nav end */

/* effect-rotate-left start*/
.effect-rotate .container{
    position: relative;
    left: 20%;
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    border: 10px solid blue;
    cursor: pointer;
}
/* effect-rotate-left end*/

/* work start */
.work{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.work > h2{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
.work > div{
    position: relative;
    width: 100%;
}
.work-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.slider{
    text-align: center;
    width: 150px;
}
.slider.center{
    width: 300px;
    order: 2;
}
.slider.left{
    order: 1;
}
.slider.right{
    order: 3;
}
.slider.left .slider--title, 
.slider.right .slider--title{
    color: #858585;
    font-size: 14px;
}
.slider.left .slider--description, 
.slider.right .slider--description{
    display: none;
}
.slider--description{
    font-size: 14px;
    max-width: 260px;
    margin: 0 auto;
}
.slider a{
    display: block;
    font-weight: bold;
}
.slider a img{
    width: 100%;
}
.slider a .slider--title{
    margin: 15px 0 10px;
}
.slider.center a .slider--title{
    margin: 25px 0 15px;
}
.work .btn{
    position: absolute;
    width: 53px;
    height: 53px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn.prev{
    left: 0;
    background: url(images/prev_btn.png) no-repeat;
}
.btn.next{
    right: 0;
    background: url(images/next_btn.png) no-repeat;
}
/* work end */

/* about start */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.about--banner{
    position: relative;
    width: 100%;
    height: 475px;
}
.about--banner h2{
    position: relative;
    margin: 50px 0;
    color: #ffffff;
    font-size: 68px;
    font-weight: bold;
}
.about--banner h2::before{
    content: "";
    position: absolute;
    top: 67px;
    left: 112px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: blue;
}
.about--banner h2::after{
    content: "";
    position: absolute;
    left: 252px;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: blue;
}
.about--banner a{
    display: inline-flex;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.about--banner a i{
    margin-left: 10px;
    transition: all 0.3s;
}
.about--banner a:hover i{
    margin-left: 20px;
}
.about--banner img{
    position: absolute;
    right: 0;
    bottom: -55px;
}
.about--option{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.about--option a{
    position: relative;
    display: block;
    align-items: flex-end;
    width: 175px;
    height: 95px;
    border: 10px solid blue;
    box-sizing: border-box;
}
.about--option a:nth-child(1){
    background: url(images/about-winners.png) no-repeat;
    background-size: cover;
}
.about--option a:nth-child(2){
    background: url(images/about-philosophy.png) no-repeat;
    background-size: cover;
}
.about--option a:nth-child(3){
    background: url(images/about-history.png) no-repeat;
    background-size: cover;
}
.about--option a h3{
    position: absolute;
    bottom: -18px;
    left: 18px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
}
.about--option a:hover h3{
    bottom: -30px;
}
/* about end */

/* contact start */
.contact{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/contact-visual.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.contact--inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 900px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contact--info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px;
    color: #ffffff;
    font-weight: bold;
    background: #000000;
}
.contact--info p{
    margin-bottom: 15px;
}
.contact--info > a{
    margin-bottom: 15px;
}
.contact--info ul{
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
}
.contact--sns a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 105px;
    width: 100%;
    padding: 10px;
}
.contact--sns:nth-child(1) a{
    background: rgb(5, 55, 190);
}
.contact--sns:nth-child(2) a{
    background: rgb(116, 5, 190);
}
.contact--sns:nth-child(3) a{
    background: rgb(190, 23, 23);
}
/* contact end */

/* hire start */
.hire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.hire h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.hire--inner{
    width: 100%;
}
.hire--inner input[type="checkbox"]{
    display: none;
}
.hire--inner span{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.hire--inner span.hire--optionB{
    width: 504px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.hire--inner span label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #ffffff;
    transition: all 0.3s;
    cursor: pointer;
}
.hire--inner input[type="checkbox"]:checked + label{
    background: #0e34b3;
}
.hire--info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}
.hire--info > div{
    position: relative;
    width: 45%;
    height: 50px;
    color: #ffffff;
    font-size: 30px;
}
.hire--info > div input[type="text"]{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.hire--info > div label{
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}
.hire--info > div input[type="text"]:focus + label{
    font-size: 13px;
    bottom: 50px;
}
.hire--info > div input[type="text"].has-value + label{
    font-size: 13px;
    bottom: 50px;
}
input[type="submit"]{
    display: block;
    max-width: 400px;
    width: 100%;
    height: 52px;
    margin: 0 auto;
    background: #0e34b3;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
/* hire end */

/* Responsive */
@media (max-width:1180px){
    .slide-nav{
        display: none;
    }

    .intro{
        max-width: 100%;
    }

    .contact--inner{
        justify-content: center;
    }
}
@media (max-width:900px){
    .intro--banner{
        height: 430px;
    }
    .intro--banner h1{
        font-size: 55px;
        margin: 68px 0 40px;
    }
    .intro--banner img{
        width: 430px;
    }
    .slider{
        width: 120px;
    }
    .slider.center{
        width: 200px;
    }
}
@media (max-width:840px){
    .intro--option{
        flex-direction: column;
    }
    .intro--option a{
        display: block;
        max-width: 100%;
    }

    .about--banner h2{
        font-size: 45px;
    }
    .about--banner h2::before{
        top: 45px;
        left: 74px;
        width: 12px;
        height: 12px;
    }
    .about--banner h2::after{
        left: 165px;
    }
}
@media (max-width:756px){
    .intro--banner{
        height: 330px;
    }
    .intro--banner h1{
        margin: 30px 0;
    }
    .intro--banner img{
        width: 330px;
    }

    .hire--inner > div{
        display: flex;
    }
    .hire--inner span{
        display: block;
    }
    .hire--inner span.hire--optionB{
        width: 100%;
    }
    .hire--inner span label{
        margin: 0 auto 40px;
        width: 90%;
    }
}
@media (max-width:650px){
    .effect-rotate{
        perspective: none;
    }
    .effect-rotate .container{
        display: none;
    }
    .out-nav.is-vis{
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .intro--banner img{
        display: none;
    }
    .work-slider{
        justify-content: center;
    }
    .slider.left,.slider.right{
        display: none;
    }

    .about--banner img{
        display: none;
    }
    .about--option{
        display: none;
    }
}